<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <title>Inicio</title>
    <link rel="icon" href="../css/icone.png">
</head>

<body>
    <button class="sair"><a href="/index">Sair</a></button>
    <header>
        <div class="imagem ">
            <img src="../css/logo.png" alt="Logo da Biblioteca Online">
        </div>
    </header>
    <div class="entrada">
        <h1>Seja</h1>
        <h1>Bem vindo!</h1>
    </div>
    <div class="imagemLivro">
        <img src="../css/livro.png" alt="foto livro">
    </div>

    <div class="conteiner">
        <button class="botao-grande" onclick="window.location.href='/cadastroUsuario'">Cadastrar usuário</button>
        <button class="botao-grande" onclick="window.location.href='/listaUsuario'">Visualizar usuário</button>
        <button class="botao-grande" onclick="window.location.href='/cadastroLivro'">Cadastar livros</button>
        <button class="botao-grande" onclick="window.location.href='/listaLivro'">Visualizar livros</button>
    </div>
</body>

</html>